<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find mavlink_sitl_gazebo)/worlds/nrsl_only_obstacle_1.world"/> -->
        <!-- more default parameters can be changed here -->
        <arg name="paused" value="false"/>
    </include>
    <arg name="init_x" default="0"/>
    <arg name="init_y" default="0"/>
    <arg name="init_z" default="0.1"/>
    <param name="robot_description" textfile="$(find rotors_description)/description/cr450.urdf" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model hummingbird -x $(arg init_x) -y $(arg init_y) -z $(arg init_z)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <include file="$(find platform_manager)/launch/px4.launch"/>
    <node name="px4_pose_feedback" pkg="platform_manager" type="get_gazebo_pose_feedback.py" output="log"/>
</launch>
